* {
  margin: 0;
}

body {
  background-color: rgb(100, 100, 100);
  font-family: "Roboto Slab", serif;
  color: white;
}
section {
  padding: 80px;
}

.dark {
  background-color: rgb(70, 70, 70);
}

.placeholder {
  color: rgb(255, 255, 255);
}

h1,
h2 {
  font-family: "Montserrat";
  font-weight: 900;
  text-align: center;
  padding-bottom: 30px;
}
h3 {
  font-family: "Montserrat";
  font-weight: 100;
  color: gold;
  text-align: center;
  padding-bottom: 30px;
}

figurecaption {
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navigation_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  position: sticky;
  top: 0px;
  left: 100px;
}

.navigation_link {
  background-color: rgb(150, 150, 150);
  width: 80px;
  height: 60px;
  border-radius: 10px;
  font-family: "Montserrat";
  font-size: 100;
}

.showcase_container {
  background-color: rgb(100, 100, 100);
  border: 1px solid white;
  padding: 20px;
  margin: 20px;
  width: 200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
