body {
  background-color: rgb(100, 100, 100);
  font-family: "Roboto Slab", serif;
}
#about,
#skills,
#contact {
  background-color: rgb(70, 70, 70);
  margin-left: -7px;
  padding: 20px;
}

.placeholder {
  color: rgb(0, 0, 0);
}

h1,
h2 {
  font-family: "Montserrat";
  font-weight: 900;
  text-align: center;
}
h3 {
  font-family: "Montserrat";
  font-weight: 100;
  color: gold;
  text-align: center;
}
#coverpicture {
  background-color: gold;
  border-radius: 100%;
  margin: auto;
}

figure {
  background-color: rgb(100, 100, 100);
  border: 5px, solid, white;
  padding: 20px;
  margin: 20px;
  width: 200px;
  align-items: center;
}
